/* src/components/styles.css */
#main {
  padding: 20px;
  text-align: center;
}

.buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.menu-item {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  width: 200px;
}
